body {
    margin: 0 auto;
    padding: 0;
}

div {
    margin: 0 auto;
    background-color: rgb(59, 59, 59);
}

div img {
    width: 20%;
    border: 10px solid black;
    border-radius: 500px;
    margin: 5em;
}

#top {
    width: 100%;
    display: block;
    margin: 0 auto;
}